@{

    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}



<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="9zckb0WPWNTZsAywbn79enNKHLECeiuufrBgpTYZ">

    <title> IPhone 11 Pro Max - PhoneStore </title>
    <link rel="icon" href="https://phonestorewebsite.000webhostapp.com/images/favicon.png" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">

    <!-- Embed CSS -->
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/normalize.min.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/animate.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/css/sweetalert2.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/css/style.css">
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/css/minicart.css">
    <link type="text/css" rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/lightGallery/dist/css/lightgallery.css" />
    <link type="text/css" rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/common/lightslider/dist/css/lightslider.css" />
    <link rel="stylesheet" href="https://phonestorewebsite.000webhostapp.com/css/product.css">
    <link rel="stylesheet" type="text/css" href="mota.css">
</head>
<body>
    <div class="container">
        <!-- Site Content -->
        <div class="site-content">
 

            <div class="site-product">

                <section class="section-product">
                    <div class="section-header">
                        <h2 class="section-title">IPhone 11 Pro Max</h2>
                        <div class="section-sub-title">
                            <div class="sku-code">Mã sản phẩm: <i>IP11PM64</i></div>
                            <div class="start-vote"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></div>
                            <div class="rate-link" onclick="scrollToxx();"><span>Đánh giá sản phẩm</span></div>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="section-infomation">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="image-product">
                                                <div class="image-gallery-0">

                                                    <ul id="imageGallery-0">
                                                        <li data-thumb="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577118078_RrFZaBJ0_iphone-11-pro-max-512gb-vang-1-org.jpg" data-src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577118078_RrFZaBJ0_iphone-11-pro-max-512gb-vang-1-org.jpg">
                                                            <img src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577118078_RrFZaBJ0_iphone-11-pro-max-512gb-vang-1-org.jpg" />
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="price-product">
                                                <div class="product-0">
                                                    <div class="sale-price">34.990.000 <span>VNĐ</span></div>
                                                    <div class="status">Tình trạng: <span style="color: #1a2;">Còn hàng</span></div>
                                                </div>
                                                <div class="product-1" style="display: none;">
                                                    <div class="sale-price">33.990.000 <span>VNĐ</span></div>
                                                    <div class="status">Tình trạng: <span style="color: #1a2;">Còn hàng</span></div>
                                                </div>
                                                <div class="product-2" style="display: none;">
                                                    <div class="sale-price">33.490.000 <span>VNĐ</span></div>
                                                    <div class="status">Tình trạng: <span style="color: #1a2;">Còn hàng</span></div>
                                                </div>
                                            </div>

                                            <div class="form-payment">
                                                <form action="https://phonestorewebsite.000webhostapp.com/checkout" method="POST" accept-charset="utf-8">
                                                    <input type="hidden" name="_token" value="9zckb0WPWNTZsAywbn79enNKHLECeiuufrBgpTYZ">                      <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <button type="submit" class="btn btn-lg btn-gray"><i class="far fa-money-bill-alt"></i> Mua ngay</button>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <div class="form-center">
                                                                <button type="button" onclick="minusInput();" class="btn-minus btn-cts">–</button>
                                                                <input type="text" class="qty input-text" id="qty" name="quantity" size="4" value="1" min="0" max="96" disabled>
                                                                <button type="button" onclick="plusInput();" class="btn-plus btn-cts">+</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <button type="button" data-role="addtocart" class="btn btn-lg btn-gray btn-cart btn_buy add_to_cart" data-url="https://phonestorewebsite.000webhostapp.com/cart/add"><span class="txt-main"><i class="fa fa-cart-arrow-down padding-right-10"></i> Giỏ hàng</span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                        <div class="section-description">
                            <div class="row">
                                <div class="col-lg-9 col-md-8">
                                    <div class="tab-description">
                                        <div class="tab-header">
                                            <ul class="nav nav-tabs nav-tab-custom">
                                                <li class="active"><a data-toggle="tab" href="#description">Mô Tả</a></li>
                                                <li><a data-toggle="tab" href="#vote">Nhận Xét Và Đánh Giá</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="description" class="tab-pane fade in active">
                                                <div class="content-description">
                                                    <h3 dir="ltr" id="a1">Camera được cải tiến mạnh mẽ</h3>
                                                    <p dir="ltr" id="a2">Chắc chắn lý do lớn nhất mà bạn muốn nâng cấp lên iPhone 11 Pro Max chính là cụm camera mới được Apple nâng cấp rất nhiều.</p>
                                                    <p dir="ltr" id="a3"><img class="lazy" src="https://cdn.tgdd.vn/Products/Images/42/200533/iphone-11-pro-max-6.jpg" alt=""></p>
                                                    <p dir="ltr" id="a4">Lần đầu tiên chúng ta sẽ có một chiếc iPhone với 3 camera ở mặt sau và cả 3 camera này đều có độ phân giải là 12 MP.</p>
                                                    <p dir="ltr" id="a5"><img class="lazy" src="https://cdn.tgdd.vn/Products/Images/42/200533/iphone-11-pro-max-3.jpg"></p>
                                                    <p dir="ltr" id="a6">Chúng ta sẽ có một camera góc thường, một camera góc rộng và một camera tele đáp ứng đầy đủ nhu cầu chụp ảnh hàng ngày của người dùng.</p>
                                                    <p dir="ltr" id="a7"><img class="lazy" src="https://cdn.tgdd.vn/Products/Images/42/200533/iphone-11-pro-max-tgdd11.jpg"></p>
                                                </div>
                                                <div class="loadmore" style="display: none;"><a>Đọc thêm <i class="fas fa-angle-down"></i></a></div>
                                                <div class="hidemore" style="display: none;"><a>Thu gọn <i class="fas fa-angle-up"></i></a></div>
                                            </div>
                                            <div id="vote" class="tab-pane fade">
                                                <div class="content-vote">
                                                    <div class="show-rate">
                                                        <div class="show-rate-header">
                                                            Đánh giá từ người dùng
                                                        </div>
                                                        <div class="show-rate-content">
                                                            <div class="total-rate">
                                                                <div class="total-rate-left">3.5</div>
                                                                <div class="total-rate-right">
                                                                    <div class="start"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></div>
                                                                    <div class="total-user">1 <i class="fas fa-users"></i></div>
                                                                </div>
                                                            </div>
                                                            <div class="vote-inner">
                                                                <div class="vote-content">
                                                                    <div class="vote-content-left"><img src="https://phonestorewebsite.000webhostapp.com/storage/images/avatars/1588611539_22555061_771228223084713_2898162686324709568_n.jpg"></div>
                                                                    <div class="vote-content-right">
                                                                        <div class="name">
                                                                            Hoàng Long
                                                                        </div>
                                                                        <div class="vote-start">
                                                                            <div class="star"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></div>
                                                                            <div class="date">23/12/2019</div>
                                                                        </div>
                                                                        <div class="content">Sản phẩm chính hãng, đóng gói cẩn thận, nhưng giá hơi cao.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="infomation-detail">
                                        <div class="infomation-header">
                                            <h2 class="title">Thông Số Kỹ Thuật</h2>
                                        </div>
                                        <div class="infomation-content">
                                            <ul>
                                                <li><label>Màn Hình:</label>OLED, 6.5&quot;, Super Retina XDR</li>
                                                <li><label>Camera Trước:</label>12 MP</li>
                                                <li><label>Camera Sau:</label>3 camera 12 MP</li>
                                                <li><label>Ram:</label>4 GB</li>
                                                <li><label>Bộ Nhớ Trong:</label>64 GB</li>
                                                <li><label>CPU:</label>Apple A13 Bionic 6 nhân</li>
                                                <li><label>GPU:</label>Apple GPU 4 nhân</li>
                                                <li><label>Dung Lượng Pin:</label>3969 mAh, có sạc nhanh</li>
                                                <li><label>Hệ Điều Hành:</label>IOS</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="suggest-product">
                                        <div class="suggest-header">
                                            <h2>Sản Phẩm Cùng Loại</h2>
                                        </div>
                                        <div class="suggest-content">
                                            <a href="https://phonestorewebsite.000webhostapp.com/product/12" title="IPhone 11 Pro 128GB">
                                                <div class="product-content">
                                                    <div class="image">
                                                        <img src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577117100_afIgGGKs_iphone-11-pro.jpg">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">IPhone 11 Pro 128GB</h3>
                                                        <div class="start-vote">
                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        </div>
                                                        <div class="price">
                                                            <strong>31.990.000₫</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="https://phonestorewebsite.000webhostapp.com/product/10" title="IPhone 11 64GB">
                                                <div class="product-content">
                                                    <div class="image">
                                                        <img src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577116181_gaGwh0e6_iphone-11.jpg">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">IPhone 11 64GB</h3>
                                                        <div class="start-vote">
                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        </div>
                                                        <div class="price">
                                                            <strong>21.990.000₫</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="https://phonestorewebsite.000webhostapp.com/product/8" title="IPhone 8 Plus">
                                                <div class="product-content">
                                                    <div class="image">
                                                        <img src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577114645_yn58HuVl_iphone-8-plus-thumb.jpg">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="title">IPhone 8 Plus</h3>
                                                        <div class="start-vote">
                                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                        </div>
                                                        <div class="price">
                                                            <strong>15.990.000₫</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Modal -->
            <div id="more-infomation" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- MiniCart display -->
                    <div class="support-cart mini-cart">
                        <a class="btn-support-cart" href="https://phonestorewebsite.000webhostapp.com/cart">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 435.104 435.104" style="enable-background:new 0 0 435.104 435.104;" xml:space="preserve" width="30px" height="30px">
                            <g>
                            <circle cx="154.112" cy="377.684" r="52.736" data-original="#000000" class="active-path" data-old_color="#Ffffff" fill="#FFFFFF"></circle>
                            <path d="M323.072,324.436L323.072,324.436c-29.267-2.88-55.327,18.51-58.207,47.777c-2.88,29.267,18.51,55.327,47.777,58.207     c3.468,0.341,6.962,0.341,10.43,0c29.267-2.88,50.657-28.94,47.777-58.207C368.361,346.928,348.356,326.924,323.072,324.436z" data-original="#000000" class="active-path" data-old_color="#F8F8F8" fill="#FFFFFF"></path>
                            <path d="M431.616,123.732c-2.62-3.923-7.059-6.239-11.776-6.144h-58.368v-1.024C361.476,54.637,311.278,4.432,249.351,4.428     C187.425,4.424,137.22,54.622,137.216,116.549c0,0.005,0,0.01,0,0.015v1.024h-43.52L78.848,50.004     C77.199,43.129,71.07,38.268,64,38.228H0v30.72h51.712l47.616,218.624c1.257,7.188,7.552,12.397,14.848,12.288h267.776     c7.07-0.041,13.198-4.901,14.848-11.776l37.888-151.552C435.799,132.019,434.654,127.248,431.616,123.732z M249.344,197.972     c-44.96,0-81.408-36.448-81.408-81.408s36.448-81.408,81.408-81.408s81.408,36.448,81.408,81.408     C330.473,161.408,294.188,197.692,249.344,197.972z" data-original="#000000" class="active-path" data-old_color="#F8F8F8" fill="#FFFFFF"></path>
                            <path d="M237.056,118.1l-28.16-28.672l-22.016,21.504l38.912,39.424c2.836,2.894,6.7,4.55,10.752,4.608     c3.999,0.196,7.897-1.289,10.752-4.096l64.512-60.928l-20.992-22.528L237.056,118.1z" data-original="#000000" class="active-path" data-old_color="#F8F8F8" fill="#FFFFFF"></path>
      </g>
    </svg>
                            <div class="animated infinite zoomIn kenit-alo-circle"></div>
                            <div class="animated infinite pulse kenit-alo-circle-fill"></div>
                            <span class="cnt crl-bg count_item_pr">0</span>
                        </a>
                        <div class="top-cart-content">
                            <ul id="cart-sidebar" class="mini-products-list count_li">
                                <div class="no-item"><p>Không có sản phẩm nào trong giỏ hàng.</p></div>
                            </ul>
                        </div>
                    </div>
                    <div id="menu-overlay"></div>

                    <!-- Footer -->
                    <footer class="footer">
                        <div class="footer-top">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-6 col-ssm">
                                        <div class="footer-widget">
                                            <div class="widget-title">
                                                <h3>Về Chúng Tôi</h3>
                                            </div>
                                            <div class="widget-content">
                                                <p><b><i class="fas fa-mobile-alt"></i> Hotline:</b> <a href="tel:(+84) 967 999 999">(+84) 967 999 999</a></p>
                                                <p><b><i class="fas fa-envelope"></i> Email:</b> <a href="mailto:phonestore@gmail.com" rel="nofollow">phonestore@gmail.com</a></p>
                                                <p><b><i class="fas fa-store-alt"></i> Địa chỉ:</b> Số 1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hidden-sm hidden-xs">
                                        <div class="footer-widget">
                                            <div class="widget-title">
                                                <h3>Hỗ Trợ Khách Hàng</h3>
                                            </div>
                                            <div class="widget-content">
                                                <ul>
                                                    <li><a href="#" title="Chính sách bảo hành">Chính sách bảo hành</a></li>
                                                    <li><a href="#" title="Chính sách vận chuyển">Chính sách vận chuyển</a></li>
                                                    <li><a href="#" title="Chính sách đổi trả hàng">Chính sách đổi trả hàng</a></li>
                                                    <li><a href="#" title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-6 col-ssm">
                                        <div class="footer-widget">
                                            <div class="widget-title">
                                                <h3>Hỗ Trợ Thanh Toán</h3>
                                            </div>
                                            <div class="widget-content">
                                                <ul>
                                                    <li class="clearfix">
                                                        <div class="col-md-3 col-sm-3 col-xs-3 padding-lr5" title="Thanh toán bằng thẻ Visa."><div class="payment visa"><img src="https://phonestorewebsite.000webhostapp.com/images/visa.png"></div></div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3 padding-lr5" title="Thanh toán bằng thẻ MasterCard."><div class="payment"><img src="https://phonestorewebsite.000webhostapp.com/images/mastercard.png"></div></div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3 padding-lr5" title="Thanh toán bằng thẻ JCB."><div class="payment"><img src="https://phonestorewebsite.000webhostapp.com/images/jcb.png"></div></div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3 padding-lr5" title="Thanh toán khi nhận hàng."><div class="payment"><img src="https://phonestorewebsite.000webhostapp.com/images/cod.png"></div></div>
                                                    </li>
                                                    <li>
                                                        <div class="payment-service" title="Giải pháp thanh toán qua Ngân Lượng."><img src="https://phonestorewebsite.000webhostapp.com/images/nganluong.png"></div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 hidden-xs">
                                        <div class="footer-widget">
                                            <div class="widget-title">
                                                <h3>Theo Dõi Chúng Tôi</h3>
                                            </div>
                                            <div class="widget-content">
                                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPhone-Store-106507137419133%2F%3Fmodal%3Dadmin_todo_tour&tabs=timelinewww.facebook.com&width=270&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="270" height="130" style="border: none; overflow: hidden; max-width: 100%;" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="copyright text-center">
                                Copyright &copy 2019 Hoang Lam. All rights reserved.
                            </div>
                        </div>
                    </footer>

                    <!-- Embed Scripts -->
                    <script src="https://phonestorewebsite.000webhostapp.com/common/js/jquery-3.3.1.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/common/js/bootstrap.min.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/common/js/owl.carousel.min.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/common/js/sweetalert2.min.js"></script>

                    <!-- Custom Scripts -->
                    <script src="https://phonestorewebsite.000webhostapp.com/js/custom.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/js/minicart.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/common/Rate/rater.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/common/lightGallery/dist/js/lightgallery.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/common/lightslider/dist/js/lightslider.js"></script>
                    <script src="https://phonestorewebsite.000webhostapp.com/js/product.js"></script>
                    <script>
                        $(document).ready(function () {

                            $(".section-rating .rating-form form").submit(function (eventObj) {
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "rate")
                                  .attr("value", $(".rating-product").rate("getValue"))
                                  .appendTo(".section-rating .rating-form form");
                                return true;
                            });
                        });
                    </script>
                    <div style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"><a title="Hosted on free web hosting 000webhost.com. Host your own website for FREE." target="_blank" href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"><img src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png" alt="www.000webhost.com"></a></div>

                    <script type="text/javascript" src="https://a.opmnstr.com/app/js/api.min.js" data-campaign="f6brbmuxflyqoriatchv" data-user="71036" async></script>
</body>
</html>
