 <section class="mode_content_slide container">
    <div class="slide_title">
        <h3>Sản Phẩm Được Ưa Thích Nhất</h3>
    </div>
    <div class="row just-content">
        <div class="slide_box" style="width:227.6px">
            <img style="width:224px" src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577113865_lzNtvCX9_samsung-galaxy-a70.jpg" />
            <div class="slide_box_content pl-5">
                <h4>Ten san phamr</h4>
                <div class="start-vote">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <strong>gia tien</strong>
            </div>
        </div>
        <div class="slide_box">
            <img style="width:224px" src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577113865_lzNtvCX9_samsung-galaxy-a70.jpg" />
            <div class="slide_box_content pl-5">
                <h4>Ten san phamr</h4>
                <div class="start-vote">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <strong>gia tien</strong>
            </div>
        </div>
        <div class="slide_box">
            <img style="width:224px" src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577113865_lzNtvCX9_samsung-galaxy-a70.jpg" />
            <div class="slide_box_content pl-5">
                <h4>Ten san phamr</h4>
                <div class="start-vote">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <strong>gia tien</strong>
            </div>
        </div>
        <div class="slide_box">
            <img style="width:224px" src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577113865_lzNtvCX9_samsung-galaxy-a70.jpg" />
            <div class="slide_box_content pl-5">
                <h4>Ten san phamr</h4>
                <div class="start-vote">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <strong>gia tien</strong>
            </div>
        </div>
        <div class="slide_box">
            <img style="width:224px" src="https://phonestorewebsite.000webhostapp.com/storage/images/products/1577113865_lzNtvCX9_samsung-galaxy-a70.jpg" />
            <div class="slide_box_content pl-5">
                <h4>Ten san phamr</h4>
                <div class="start-vote">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <strong>gia tien</strong>
            </div>
        </div>
    </div>
</section>