<div class="shopping">
    <div class="shop_content">
        <div class="shop_content_product">
            <div>
                <img />
            </div>
            <div>
                <h3>ten san pham</h3>
                <strong>gia thanh</strong>
                <div class="form-group">
                    <button>-</button>
                    <button>-</button>
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class=""></div>
    </div>
    <div class="shop_icon">
        
        <div class="number"><p>1</p></div>
        <div class="shop_border">
        </div>
        <div class="shop_bg">
        </div>
            <i class="fas fa-cart-arrow-down fa-2x"></i> 
    </div>
</div>

