 .mode_content_title
 { 
     padding: 0.2rem 02rem;
     border-bottom:1px ridge #bdb5b5;
     margin-top:10px;
 }
 .mode_content_title h4
 {
     font-size:22px;
     margin-bottom:19px;
 }
 .mode_content .mode_content_title .nav li a
 {
     font-size: 20px;
     margin-top:15px;
     padding:0 10px;
     
 }
 .mode_contents
 {
     background:#fff;
     border-radius:7px;
 }
 .item_product
 {
     position:relative;
     margin:0;
     padding:0.3rem 1rem;  
     box-shadow: 1px 2px 3px #bdb5b5;
     
 }
 .sub-product
 {  
     display:none;
     position:absolute;
     padding: 0.1rem 1rem;
     top:0; 
     left:0;  
     text-align:justify;
     background: #fff;  
     opacity: 0.5;
     transition: all 2s;
 }
  .item_product:hover .sub-product
  { 
      display: block;
      opacity:1;
      top:-319px;
      width:100%;
     
  }
  .content-product .title
  {
      color: #000000;
      font-size:19px;
  }
   .content-product .start-vote
   {
       color:#ffa400
   }
    .mode_content_title .nav .nav-item .nav-link
    {
        font-size:20px;
        margin-top: 1px;
        cursor: pointer;
        transition: all 0.7s;
    }
    .mode_content_title .nav .nav-item .nav-link:hover
    {
        color: #ff0000;

    }
   