.footer_body
{
    display: block;
    background: #ffffff;
    padding: 5rem 0;
}
.widget-content ul
{
    display: block;

    list-style:none;
}
.widget-content .clearfix
{
    display: flex;
    justify-content: center;
}